.heardbar{display: block; height: 50px;  background:rgba(0,0,0,0.7); position: fixed; top: 0; left: 0; width: 100%; z-index: 10000;
    .logow{display: block; width: 120px; height: 50px; float: left; padding: 0 5px;
        .logo{display: block;height: 40px; background: url('../images/logo_x2.png') no-repeat center; margin-top: 5px; background-size: 110px 40px;
            h1{display: none;}
        }
    }
    .comp{display: block; height: 50px; line-height: 50px; position: relative;
        .hdr_btn{display: block; padding: 0 19px; color:#fff;
            &:hover{background: rgba(0,0,0,0.1);}
        }
    }
    .pull-right{float: right;}
    .headnav{max-width: 1024px; margin: 0 auto; height: 50px;}
    .namv_menu{float: left; height: 50px; padding-left: 30px;
        .navitem{display: block; height: 50px;  float: left;
            .nav{display: block; height: 100%;
                .it{display: inline-block; float: left; height: 100%;}
                .mblock{display: block; height: 100%; padding: 0 25px; line-height: 50px;}
                .ml{color: #fff;
                    &:hover{color: #ddd;}
                }
            }
        }
    }
    .searchwarp{display: block; float: left; height: 50px; padding-left: 20px;
        .sbox{padding: 10px 0;}
        .search_inp{height: 30px;  background: #fff; border: 1px solid #fff; width: 220px; color: #333;
            outline: none; font-size: 14px; color: #666;
        }
    }
}